body {
    background-color: lightskyblue;
}

*{
    outline: none;
    box-sizing: border-box;
}

.search-box input {
    text-transform: capitalize;
}

.searchButton {
    background-color: white;
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;

}

.searchButton:hover {
    /* background-color: rgb(232, 232, 232); */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.weather-icon {
    height: 70px;
}

.btn-light {
    border: 1px solid black;
}

.btn-light:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(29, 29, 29);
    color: white;
}

.row {
    margin-bottom: 5rem;
}