body {
    background-color: lightblue;
    height: 100vh;
}

*{
    outline: none;
    box-sizing: border-box;
}

.search-box input {
    text-transform: capitalize;
}

.search-box button {
    background-color: white;
    border-radius: 24px;
}

.search-box button:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}